@import url("./globals.css");

.about {
  justify-content: center;
  min-height: 624px;
  column-gap: 56px;
  padding: 32px 104px;
}

.about__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
  z-index: 1;
  aspect-ratio: 1/1;
}

.svg-wrapper {
  position: relative;
  width: 320px;
  height: 320px;
  align-self: center;
}

.svg-border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.shape {
  stroke-dasharray: 150 1000;
  stroke-dashoffset: -900;
  stroke-width: 8px;
  fill: transparent;
  stroke: var(--button-primary);
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.shape:hover {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 950;
}

.about__info {
  row-gap: 24px;
  min-width: 450px;
  justify-content: center;
}

.about__title {
  font-size: var(--font-size-xlarge);
  line-height: var(--line-height-small);
}

.about__description {
  font-size: var(--font-size-neutral);
  line-height: var(--line-height-large);
}

@media screen and (max-width: 1024px) {
  .about {
    padding: 40px;
    align-items: center;
    column-gap: 26px;
  }

  .svg-wrapper {
    width: 320px;
    height: 320px;
  }

  .about__photo {
    width: 300px;
    height: 300px;
  }

  .about__info {
    padding-top: 0;
    min-width: 360px;
    row-gap: 12px;
  }

  .about__title {
    font-size: var(--font-size-extra-3);
    line-height: var(--line-height-large);
  }
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    row-gap: 24px;
  }

  .about__info {
    width: 100%;
    text-align: center;
  }

  .svg-wrapper {
    width: 280px;
    height: 280px;
  }

  .about__photo {
    width: 260px;
    height: 260px;
  }
}


@media screen and (max-width: 576px) {
  .about {
    padding-bottom: 50px;
  }

  .about__info {
    row-gap: 16px;
    min-width: 288px;
  }

  .svg-wrapper {
    width: 250px !important;
    height: 250px !important;
  }

  .about__photo {
    width: 230px !important;
    height: 230px !important;
  }
}

@media screen and (max-width: 480px) {
  .svg-wrapper {
    width: 220px !important;
    height: 220px !important;
  }

  .about__photo {
    width: 200px !important;
    height: 200px !important;
  }
}

@media screen and (max-width: 360px) {
  .svg-wrapper {
    width: 200px !important;
    height: 200px !important;
  }

  .about__photo {
    width: 180px !important;
    height: 180px !important;
  }
}
