@import url("./globals.css");

.header {
  background-image: url("../../public/bg_header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-secondary);
  justify-content: center;
  align-items: center;
  min-height: 576px;
}

.header__main {
  justify-content: center;
  align-items: center;
}

.header__title {
  font-size: var(--font-size-xxlarge);
  line-height: var(--line-height-xxsmall);
}

.header__description {
  font-size: var(--font-size-neutral);
  line-height: var(--line-height-large);
}