@import url("./globals.css");

.navigation {
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

.navigation__title {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-neutral);
}

.navigation__menu {
  font-size: var(--font-size-neutral);
  line-height: var(--line-height-large);
  align-items: center;
  gap: 12px;
}

.navigation__list {
  align-items: center;
}

.navigation__list_item {
  padding-inline: 25px;
  height: 100%;
  display: flex;
  align-items: center;
}

.navigation__list_item:hover {
  opacity: 0.6;
}

.navigation__list_item-active {
  border-bottom: 2px solid var(--color-secondary);
}

.navigation__button {
  border: 2px solid var(--color-secondary);
  cursor: pointer;
}

.navigation__button:hover .navigation__button-text {
  filter: invert(100%);
  transform: scale(1.05);
  transition: all 0.3s;
}

@media screen and (max-width: 1024px) {
  .navigation {
    height: 66px;
    padding-inline: 40px;
  }

  .navigation__menu {
    font-size: var(--font-size-small);
    line-height: var(--line-height-xxlarge);
    gap: 16px;
  }

  .navigation__list_item {
    padding-inline: 16px;
  }

  .navigation__button {
    padding: 8px;
    width: 152px;
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    height: 56px;
    padding-inline: 16px;
  }
}
