@import url("./globals.css");

.news {
  justify-content: center;
  align-items: center;
  min-height: 374px;
}

.news__main {
  align-self: flex-start;
  row-gap: 30px;
}

.news__title {
  font-size: var(--font-size-xlarge);
  line-height: var(--line-height-small);
}

.news__subtitle {
  font-size: var(--font-size-neutral);
  line-height: var(--line-height-large);
  color: var(--color-extra);
}

.news__text {
  font-size: var(--font-size-neutral);
  line-height: var(--line-height-large);
}

.news-cards {
  background-color: var(--background-secondary);
}

.news-cards__title {
  font-size: var(--font-size-xlarge);
  line-height: var(--line-height-small);
  align-self: flex-start;
}

.news-cards__button {
  background-color: var(--button-secondary);
  align-self: center;
  font-size: var(--font-size-neutral);
  line-height: var(--line-height-large);
  color: var(--color-primary);
  border: 1px solid var(--color-extra);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.news-cards__button:hover {
  background-color: var(--button-secondary-hover);
}

.news-item {
  align-items: center;
  background-color: var(--background-primary);
  overflow: hidden;
}

.news-item__image {
  object-fit: cover;
  width: 100%;
  height: 272px;
}

.news-item__info {
  gap: 12px;
  min-height: 304px;
  grid-template-rows: 24px 90px 88px 20px;
}

.news-item__date {
  font-size: var(--font-size-neutral);
  line-height: var(--line-height-large);
  color: var(--color-extra);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.news-item__title {
  font-size: var(--font-size-large);
  line-height: var(--line-height-small);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-item__description {
  font-size: var(--font-size-small);
  line-height: var(--line-height-xlarge);
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-item__reporter {
  font-size: var(--font-size-small);
  line-height: var(--line-height-medium);
  color: var(--color-extra);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 1850px) {
  .news-item {
    max-width: 500px;
  }

  .news-cards__title {
    align-self: center;
  }
}

@media screen and (max-width: 1024px) {
  .news {
    min-height: 270px;
    padding-inline: 40px;
    padding-top: 66px;
  }

  .news__main {
    row-gap: 16px;
    width: 480px;
  }

  .news__title {
    font-size: var(--font-size-extra-3);
  }

  .news__subtitle {
    font-size: var(--font-size-xsmall);
    line-height: var(--line-height-extra);
  }

  .news-cards {
    padding: 40px;
  }

  .news-cards__title {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .news-item {
    height: 420px;
  }

  .news-item__image {
    height: 150px;
  }

  .news-item__info {
    padding: 15px;
    gap: 10px;
    height: 270px;
    grid-template-rows: 24px 96px 66px 24px;
  }

  .news-item__title {
    font-size: var(--font-size-extra-1);
    line-height: var(--line-height-xsmall);
    -webkit-line-clamp: 4;
    line-clamp: 4;
  }

  .news-item__description {
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

@media screen and (max-width: 768px) {
  .news-cards__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
}
