@import url("./globals.css");

.not-found {
  justify-content: center;
  align-items: center;
  background-color: var(--background-secondary);
}

.not-found__title {
  font-size: var(--font-size-large);
  line-height: var(--line-height-small);
}

.not-found__description {
  font-size: var(--font-size-neutral);
  line-height: var(--line-height-large);
  color: var(--color-extra);
}

.not-found__button {
  background-color: var(--button-primary);
  color: var(--color-secondary);
  cursor: pointer;
}

.not-found__button:hover {
  background-color: var(--button-primary-hover);
}