@import url("./globals.css");

.preloader {
  justify-content: center;
  align-items: center;
  background-color: var(--background-secondary);
  padding: 25px 0;
}

.preloader__icon {
  display: block;
  border: 1px solid var(--color-extra);
  border-bottom-color: var(--color-primary);
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.preloader__text {
  font-size: var(--font-size-neutral);
  color: var(--color-extra);
  line-height: var(--line-height-large);
}
